<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>06_列表渲染</title>
</head>
<body>

<div id="demo">
    <h2> 测试：v-for 遍历数组</h2>
    <ul>
        <li v-for="(p,index) in persons" :key="index">
            {{index}}---{{p.name}}---{{p.age}}
            ---
            <button @click="deletep(index)">删除</button>
            ---
            <button @click="updatepaaa(index,{name:'Cat',age:18})">更新</button>
        </li>
    </ul>
    <h2> 测试：v-for 遍历对象</h2>

    <ul>
        <li v-for="(value,key) in persons[1]" :key="key">
            {{value}}---{{key}}
        </li>
    </ul>
</div>

<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#demo',
        data: {
            persons: [ //vue本身只是监视了personsd的改变，没有监视数组内部的改变
//                vue重写了数组中的一系列改变数据内部数据的方法（先调用原生，更新界面）
// --》数组内部改变，界面自动变化
                {name: 'Tom1', age: 188},
                {name: 'Tom2', age: 184},
                {name: 'Tom3', age: 181},
                {name: 'Tom4', age: 118},
                {name: 'Tom5', age: 128}
            ]
        },
        methods: {
            deletep(index) {
                this.persons.splice(index, 1)
            },
            //使用updatep会报错
            updatepaaa(index, newP) {
//                this.persons[index] = newP
// 并没有改变person本身，改变的内部数据，数组内部发生了变化，但是并没有调用变异方法，vue不会更新界面
                this.persons.splice(index, 1, newP)
//                this.persons=[]
            }
        }
    })
</script>
</body>
</html>